@charset "UTF-8";
/**
 *
 * @authors Ide
 * @email   794958215@qq.com
 * @date    2016-09-02 03:54:44
 * @version $Id$
 */
.navbar-nav li a {
    padding:30px 20px;
    font-weight: 600;
    font-size:20px;
    color: #fff;
}
.navbar-brand {
    height: 30px;
    padding-top: 20px;
}
.navbar {
    min-height: 83px;
}
.navbar-toggle {
    margin:30px 20px 4px;
}
#tabs {
    margin-top: 113px;
}
#tabs hgroup {
    width: 400px;
}
#tabs h2 {
    float: left;
    margin-left: 4px;
    line-height: .1;
    margin-bottom: 36px;
    font-size: 18px;
}
#tabs .nav {
    margin-left: 40px;
    float: left;
    font-size: 12px;
}
#tabs .nav-pills {
}
#tabs li {
    margin-right: 20px;
}
#tabs a {
    display: block;
    color: #000 !important;;
}
#tabs a:hover {
    text-decoration: none;
}
#tabs .thumbnail img {
    display: block;
    width: 100%;
}
#tabs .thumbnail {
    border-color: transparent;
}
#tabs span {
    font-size: 12px;
}
/*没有小于768px，是因为Bootstrap3以移动端优先设计*/

/* 小屏幕（平板，大于等于768px） */
@media (min-width: 768px) {
   #tabs h2 {
        font-size: 22px;
    }
    #tabs .nav {
        font-size: 14px;
    }
}

/* 中等屏幕（桌面显示器，大于等于992px） */
@media (min-width: 992px) {
   #tabs h2 {
        font-size: 26px;
    }
    #tabs .nav {
        font-size: 14px;
    }
}

/* 大屏幕（大桌面显示器，大于等于1200px） */
@media (min-width: 1200px) {
   #tabs h2 {
        font-size: 30px;
    }
    #tabs .nav {
        font-size: 14px;
    }
}
